body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1b1b1b;
    border-bottom: 2px solid #4ade80;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    border-right: 2px solid #4ade80;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #4ade80;
    display: block;
}

.sidebar a:hover {
    background-color: #004400;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.menu-icon {
    font-size: 31;
    cursor: pointer;
    color: #4ade80;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4ade80;
}

.timeline {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.event {
    padding: 10px 20px;
    position: relative;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border-left: 5px solid #4ade80;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 128, 0.5);
}

.event .date {
    font-size: 1rem;
    color: #4ade80;
    font-weight: bold;
}

.event .content h3 {
    margin: 5px 0;
    font-size: 1.4rem;
}

.event .content p {
    font-size: 1rem;
    color: #d1d1d1;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #161616; 
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #4ade80; 
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-links {
    margin-bottom: 10px;
}

.social-link {
    color: #4ade80;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

.social-link:hover {
    color: #ffffff;
}

.footer-text {
    color: #d1d1d1;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .about, .interests {
        width: 90%;
    }

    .logo {
        font-size: 24px;
    }

    .logo img {
        width: 35px;
        height: 35px;
    }

    .menu-icon {
        font-size: 25px;
    }

    .sidebar {
        width: 250px;
        z-index: 1000; 
    }
}