---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bl0ss0mX5 | CTFs Participated" sideBarActiveItemID="ctfs">
  <section class="px-6 py-8">
    <h1 class="text-4xl font-extrabold mb-8 border-b pb-2">CTFs Participated</h1>

    <!-- Single grid for all cards -->
    <div class="grid md:grid-cols-2 gap-6">

        <div class="bg-base-200 text-base-content rounded-2xl p-6 shadow-lg hover:scale-[1.02] transition-transform duration-300 border border-base-300">
        <h2 class="text-2xl font-bold mb-2">TsukuCTF</h2>
        <p><span class="font-semibold">Organizer:</span>  TsukuCTF</p>
        <p><span class="font-semibold">Start Date:</span>  May 03, 2025 - 08:30 IST</p>
        <p><span class="font-semibold ">End Date:</span>  May 04, 2025 - 08:30 IST</p>
        <p><span class="font-semibold ">Format:</span>  Jeopardy</p>
        <p><span class="font-semibold">Category:</span>  Medium</p>
        <p class="mt-2">Visit 
          <a href="https://www.linkedin.com/feed/update/urn:li:activity:7324697539314638848/" target="_blank" class="text-blue-400 hover:text-blue-300 underline">
            Score
          </a>
        </p>
        <p class="mt-2">
          <a href="https://tsukuctf.org/" target="_blank" class="text-blue-400 hover:text-blue-300 underline">
            Visit TsukuCTF ↗
          </a>
        </p>
        </div>

       <div class="bg-base-200 text-base-content rounded-2xl p-6 shadow-lg hover:scale-[1.02] transition-transform duration-300 border border-base-300">
        <h2 class="text-2xl font-bold mb-2">SummitCTF 2025</h2>
        <p><span class="font-semibold">Organizer:</span>  SummitCTF</p>
        <p><span class="font-semibold">Start Date:</span>  April 12, 2025 - 19:30 IST</p>
        <p><span class="font-semibold ">End Date:</span>  April 13, 2025 - 19:30 IST</p>
        <p><span class="font-semibold ">Format:</span>  Jeopardy</p>
        <p><span class="font-semibold">Category:</span>  Medium</p>
        <p class="mt-2">
          <a href="https://summitctf.org/" target="_blank" class="text-blue-400 hover:text-blue-300 underline">
            Visit SummitCTF ↗
          </a>
        </p>
        </div>

      <div class="bg-base-200 text-base-content rounded-2xl p-6 shadow-lg hover:scale-[1.02] transition-transform duration-300 border border-base-300">
        <h2 class="text-2xl font-bold mb-2">Hackfinity Battle</h2>
        <p><span class="font-semibold">Organizer:</span>  TryHackMe</p>
        <p><span class="font-semibold">Start Date:</span>  March 17, 2025</p>
        <p><span class="font-semibold ">End Date:</span>  March 20, 2025</p>
        <p><span class="font-semibold ">Format:</span>  Jeopardy</p>
        <p><span class="font-semibold">Category:</span>  Medium</p>
        <p class="mt-2">
          <a href="https://tryhackme.com/room/HackfinityBattle" target="_blank" class="text-blue-400 hover:text-blue-300 underline">
            Visit HackfinityBattle ↗
          </a>
        </p>
      </div>

      
    </div>
  </section>
</BaseLayout>
