---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Bl0ss0mX5
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.io/Bl0ss0mX5" target="_blank" class="font-bold">Bl0ss0mX5</a>
  </div>
</footer>
<style></style>
